.contact-content{
  display: flex;
  flex-direction: row;
}

.contactInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.infoLine, .addressInfo, .phoneInfo, .hoursInfo, .paymentsInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.addressLabel, .phoneLabel, .hoursLabel, .paymentLabel{
  font-size: x-large;
}

.infoLine > label, span{
  margin: 5px;
}

.hoursLine{
  text-align: center;
}

.google-map {
  height: 85vh;
  width: 50%;
}

.map-h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.pin {
  width: 15vw;
}

.pin-icon {
  font-size: 10vw;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (max-width: 800px) {
  
  .contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-content .contactInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .firstSpan{
    font-size: xx-large;
  }

  .infoLine, .addressLine, .phoneLine, .hoursLine{
    margin: 15px;
  }

  .addressLabel, .phoneLabel, .hoursLabel{
    font-size: x-large;
  }
  
  .google-map {
    height: 50vh;
    width: 100%;
  }
  
  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .pin {
    width: 15vw;
  }
  
  .pin-icon {
    font-size: 10vw;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
}