.theHeader{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: blue;
    opacity: 75%;
}

.nav{
    list-style: none;
}

li{
    margin:5px;
    list-style: none;
}


@media only screen 
and (max-device-width: 600px)
{ 
    .navbar-expand{
        flex-wrap: wrap !important;
    }
}
