.theHeader{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: blue;
    opacity: 75%;
}

.nav{
    list-style: none;
}

li{
    margin:5px;
    list-style: none;
}

.carousel-inner{
    height: 600px;
}

@media only screen 
and (max-device-width: 600px)
{ 
    .navbar-expand{
        flex-wrap: wrap !important;
    }

    .carousel-inner{
        height: 300px;
    }
}

.brandLogos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}
.brandLogos .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.brandLogos .logoImage{
    margin: 10px;
    max-height: 250px;
    max-width: 250px;
}
